/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container,
  * {
    padding: 0;
    margin: 0;
  }

  section,
  .form-bar,
  footer,
  .title-header {
    padding-left: 20px;
    padding-right: 20px;
  }

  /*********NAV*********/
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
  }

  nav a {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #f2f2f2;
    padding: 10px 0;
  }

  nav a:hover {
    color: #0065fc;
    border-bottom: 2px solid #0065fc;
    border-top: none;
  }

  .nav-liens {
    width: 100%;
    gap: 0px;
  }

  .nav-img {
    height: 79px;
    display: flex;
    align-items: center;
  }

  /*********HEADER*********/

  .input-search-dekstop {
    display: none;
  }

  .input-search-mobile {
    display: block;
  }

  .search-bar {
    max-width: 335px;
  }

  .input-search {
    font-size: 17px;
    border-radius: 15px;
    width: 49px;
    height: 49px;
    margin: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .location {
    width: 236px;
  }

  .button-mobile {
    width: 162.5px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .text-button {
    font-size: 14px;
  }

  .filtres h2 {
    padding-bottom: 20px;
  }

  .filtres button {
    margin-right: 0px;
  }

  .button-div {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
  }

  .info-filter {
    padding-bottom: 0px;
  }

  /*********HEBERGEMENT & POPULAIRES*********/
  .hebergements {
    order: 2;
  }

  .hebergements-and-populaires section {
    background-color: transparent;
  }

  .hebergements-and-populaires .populaires {
    background-color: #f2f2f2;
    border-radius: 0;
  }
  .populaires {
    order: 1;
  }

  .populaires-cards a {
    width: 100%;
  }

  .hebergements a {
    width: 100%;
  }

  .hebergements-title {
    margin-bottom: 15px;
    font-size: 22px;
  }

  .populaires {
    margin-top: 30px;
  }

  .card-soleil {
    padding-top: 0px;
  }

  .populaires-title {
    max-height: 26px;
  }

  /********* ACTIVITES *********/

  .activites h2 {
    padding-bottom: 30px;
  }

  .activites a {
    padding-bottom: 15px;
  }

  .activites {
    padding-bottom: 15px;
  }

  .activites-card {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .card-activites {
    width: 100%;
    height: 200px;
  }

  .activites img {
    width: 100%;
    height: 141px;
  }

  .activites-card a {
    width: 100%;
  }

  .activites .card-title {
    padding-top: 15px;
  }

  .populaires-cards .card {
    margin-top: 15px;
  }

  /*********FOOTER*********/
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
  }
  .footer-liste {
    text-align: left;
    width: 200px;
    padding-bottom: 20px;
  }

  .footer h2 {
    padding-bottom: 10px;
  }
}
